/*----------------------------------------*/
/*  Wrapper CSS
/*----------------------------------------*/

.section {
  &-title {
    margin-bottom: 50px;
    @media #{$tablet-device} {
      margin-bottom: 40px;
    }
    @media #{$large-mobile} {
      margin-bottom: 40px;
    }
    .sub-title {
      letter-spacing: .25px;
      margin-bottom: 24px;
      @media #{$large-mobile} {
        margin-bottom: 17px;
      }
    }
    .title {
      line-height: 1.25;
    }
    .desc {
      color: #1f2226;
      margin-bottom: 0;
    }
  }
  &-two-title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 14px;
    .title {
      font-size: 22px;
      line-height: 1.2;
    }
  }
}

.page-header {
  &-area {
    align-items: center;
    background-color: #f7f7f7;
  }
}

.breadcrumb {
  display: flex;
  justify-content: center;
  line-height: 1;
  margin-bottom: 0;
  padding: 55px 0;
  &-item {
    color: #1f2226;
    font-size: 15px;
    line-height: 1;
    margin-right: 18px;
    position: relative;
    text-transform: uppercase;
    @media #{$large-mobile} {
      font-size: 14px;
    }
    &:before {
      position: absolute;
      width: 18px;
      height: 1px;
      background-color: #1f2226;
      content: "";
      right: -21px;
      top: 7px;
      z-index: 1;
      -webkit-transform: rotate(115deg);
      -ms-transform: rotate(115deg);
      transform: rotate(115deg);
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: #1f2226;
      &:before {
        display: none;
      }
      &:hover {
        color: #1f2226;
      }
    }
    &:hover {
      color: $primary;
    }
    a {
      color: #1f2226;
      &:hover {
        color: $primary;
      }
    }
    + .breadcrumb-item {
      &:before {
        display: none;
      }
    }
  }
}

.ht-popup-video {
  .video-popup {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.swiper-grid-column > .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    .swiper-slide {
      margin-top: 0 !important;
    }
}

.swiper-shadow-space {
  margin: -15px 0;
  .swiper-wrapper {
  }
  .swiper-slide {
    padding: 15px 0;
  }
}

.fancybox__content {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.fancybox__backdrop {
  cursor: url('../images/icons/cancel-white.png'), auto;
}

.features-wrp {
  margin-top: 28px;
  padding: 61px 0;
}

.feature {
  &-item {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      padding: 30px 5px;
    }
    &:hover {
      img {
        -webkit-animation: 0.5s ease-in-out 0s normal none 1 running tada;
        animation: 0.5s ease-in-out 0s normal none 1 running tada;
      }
    }
    p {
      color: #757575;
      font-size: 16px;
      margin-bottom: 0;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        font-size: 14px;
      }
    }
  }
  &-icon {
    margin-right: 15px;
    position: relative;
    top: 4px;
    img {
      transition: $transition-base;
    }
  }
  &-title {
    color: #242424;
    font-weight: $font-weight-bold;
    letter-spacing: .5px;
    margin-bottom: 6px;
  }
}

.divider {
  &-area {
    overflow: hidden;
    padding: 0;
    @media #{$desktop-device} {
      padding: 36px 0 20px;
    }
    @media #{$tablet-device} {
      padding: 0 0 55px;
    }
    @media #{$large-mobile} {
      padding: 0 0 55px;
    }
    img {
      @media #{$tablet-device} {
        margin-bottom: -40px;
        margin-top: -30px;
      }
      @media #{$large-mobile} {
        margin-bottom: -40px;
        margin-top: -25px;
      }
      @media #{$extra-small-mobile} {
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
  }
  &-title {    
    color: #1f2226;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
    @media #{$tablet-device, $large-mobile} {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  &-content {
    position: relative;
    z-index: 1;
  }
  &-desc {
    p {
      color: #1f2226;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 28px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        font-size: 14px;
        margin-bottom: 18px;
      }
    }
  }
}

.main-content {
  &-area {
    display: flex;
    flex-direction: row-reverse;
    .content-area {
      padding-left: 30px;
      width: calc(100% - 306px);
    }
    .sidebar-area {
      width: 306px;
    }
  }
}

.bg-white-wrp {
  position: relative;
  z-index: 1;
  &:before {
    background-color: $white;
    content: "";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: -1;
  }
  &:after {
    background-color: $white;
    content: "";
    height: 100%;
    position: absolute;
    right: -15px;
    top: 0;
    width: 30px;
    z-index: -1;
  }
}

.video {
  &-area {
    .container {
      @media #{$extraBig-device} {
        max-width: 1280px;
      }
    }
  }
  &-wrp {
    border-radius: 30px;
    text-align: center;
  }
}

.faq-content {
  .accordion-one {
    .accordion-item {
      border: 1px solid #06264b;
      .accordion-header {
        border-bottom: 1px solid #06264b;
      }
      .accordion-button {
        font-size: 16px;
        &:not(.collapsed) {
          background-color: rgba(0,0,0,.03);
        }
      }
      .accordion-body-desc {
        font-family: $roboto;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

// Scroll To Top Style Css
.scroll-to-top {
  background-color: $primary;
  border: none;
  border-radius: 50%;
  bottom: 60px;
  color: $white;
  cursor: pointer;
  display: none;
  font-size: 18px;
  height: 50px;
  line-height: 52px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 50px;
  z-index: 100;
  @include transition(all .3s ease-in-out);
  @media #{$small-mobile} {
    right: 30px;
    bottom: 15px;
  }
  @media #{$extra-small-mobile} {
    bottom: 70px;
  }
  @media only screen and (max-width: 359px) {
    bottom: 100px;
    font-size: 13px;
    height: 30px;
    line-height: 32px;
    width: 30px;
  }
  &:hover {
    background-color: #fc6539;
    box-shadow: none;
    color: $white;
  }
}