/*----------------------------------------*/
/*  Home Slider CSS
/*----------------------------------------*/

.hero-slider-area {
  margin: 0 auto;
}

.hero-slide {
  &-item {
    align-items: center;
    background-color: #effafa;
    height: 700px !important;
    display: flex;
    position: relative;
    z-index: 1;
    @media #{$desktop-device} {
      height: 600px !important;
    }
    @media #{$tablet-device} {
      height: 480px !important;
    }
    @media #{$large-mobile} {
      height: auto !important;
    }
    @media #{$small-mobile} {
      height: auto !important;
    }
    &.slide-item-two {
      height: 800px !important;
      @media #{$tablet-device} {
        height: 540px !important;
      }
      @media #{$large-mobile} {
        height: auto !important;
      }
      @media #{$small-mobile} {
        height: auto !important;
      }
      .hero-slide-content {
        @media #{$large-mobile, $small-mobile} {
          margin-top: 120px;
        }
      }
      .hero-slide-thumb {
        @media #{$large-mobile, $small-mobile} {
          margin-bottom: 70px;
          margin-top: 30px;
        }
      }
    }
    .container {
      position: relative;
    }
    &.swiper-slide {
      &-active {
        .hero-slide-content {
          .hero-slide-sub-title,
          .hero-slide-title,
          .hero-slide-desc,
          .btn-wrp .btn,
          .btn-play-wrp {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }
          .hero-slide-sub-title {
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
            -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
          }
          .hero-slide-title {
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
            -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
          }
          .hero-slide-desc {
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
            -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
          }
          .btn-wrp .btn {
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
            -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
          }
          .btn-play-wrp {
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
            -webkit-animation-delay: .8s;
            animation-delay: .8s;
          }
        }
        .hero-slide-thumb {
          -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
          -webkit-animation-delay: 1s;
          animation-delay: 1s;
          -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
      }
    }
  }

  &-thumb {
    @media #{$large-mobile, $small-mobile} {
      margin-bottom: 60px;
      text-align: center;
    }
    img {
      @media #{$large-mobile, $small-mobile} {
        max-width: 300px;
      }
    }
  }

  &-content {
    margin-top: 5px;
    position: relative;
    z-index: 1;
    @media #{$large-mobile, $small-mobile} {
      margin-top: 70px;
      text-align: center;
    }
  }

  &-sub-title {
    color: $primary;
    font-size: 22px;
    margin-bottom: 13px;
    @media #{$large-mobile, $small-mobile} {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &-title {    
    line-height: 70px;
    margin-bottom: 13px;
    @media #{$tablet-device, $large-mobile} {
      line-height: 1.2;
    }
  }

  &-desc {
    font-family: $poppins;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 22px;
    @media #{$large-mobile} {
      font-size: 14px;
    }
  }
}

.hero-slide {
  &-one-pagination {
    &.swiper-pagination-bullets {
      bottom: 27px;
      display: inline-flex;
      left: 50%;
      position: absolute;
      right: auto;
      width: auto;
      z-index: 1;
      @include translate(-50%, 0);
      .swiper-pagination {
        &-bullet {
          background-color: transparent;
          border: 1px solid $primary;
          border-radius: 50%;
          height: 8px;
          margin: 0 8px;
          opacity: 1;
          outline: 1px solid $primary;
          outline-offset: 3px;
          transition: $transition-base;
          width: 8px;
          &:hover {
            background-color: $primary;
          }
          &-active {
            background-color: $primary;
          }
        }
      }
    }
  }
}

.hero-slider-container {
  position: relative;
  .swiper-button {
    &-prev, &-next {
      background-color: #e1e1e1;
      border: 1px solid #e1e1e1;
      border-radius: 50%;
      bottom: 80px;
      color: $white;
      font-size: 20px;
      height: 50px;
      left: 100px;
      line-height: 56px;
      text-align: center;
      top: auto;
      width: 50px;
      transition: $transition-base;
      @media #{$laptop-device} {
        bottom: 30px;
        left: 15px;
      }
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        bottom: 15px;
        font-size: 14px;
        height: 40px;
        left: 30px;
        line-height: 38px;
        width: 40px;
      }
      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $white;
        &:after {
          left: 75px;
          opacity: 1;
          visibility: visible;
          @media #{$tablet-device, $large-mobile} {
            left: 50px;
          }
        }
      }
      &:before {
        content: "\e607";
        font-family: 'Simple-Line-Icons';
        font-size: 20px;
        @media #{$desktop-device, $tablet-device, $large-mobile} {
          font-size: 14px;
        }
      }
      &:after {
        color: $black;
        content: "Prev";
        font-family: $lato;
        font-size: 16px;
        left: 65px;
        line-height: 50px;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        @include transition(all .4s ease-in-out);
        @media #{$tablet-device, $large-mobile} {
          left: 40px;
        }
      }
      &.swiper-button-two {
        bottom: auto;
        left: auto;
        right: 50px;
        top: calc(50% - 38px);
        @media #{$desktop-device, $tablet-device, $large-mobile} {
          right: 30px;
          top: calc(50% - 28px);
        }
        @media #{$extra-small-mobile} {
          bottom: 70px;
          top: auto;
        }
        &:after {
          display: none;
        }
      }
      &.swiper-button-three {
        bottom: auto;
        font-size: 22px;
        height: 60px;
        left: 18px;
        line-height: 60px;
        right: auto;
        top: calc(50% - 8px);
        width: 60px;
        @media #{$laptop-device, $desktop-device, $tablet-device, $large-mobile} {
          display: none;
        }
        &:before {
          content: "\e605";
        }
        &:after {
          display: none;
        }
      }
    }
    &-prev {
      bottom: 143px;
      @media #{$laptop-device} {
        bottom: 93px;
      }
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        bottom: 62px;
      }
    }
    &-next {
      line-height: 58px;
      &:before {
        content: "\e604";
      }
      &:after {
        content: "Next";
      }
      &.swiper-button-two {
        top: calc(50% + 32px);
        @media #{$desktop-device, $tablet-device, $large-mobile} {
          top: calc(50% + 22px);
        }
        @media #{$extra-small-mobile} {
          bottom: 20px;
          top: auto;
        }
      }
      &.swiper-button-three {
        left: auto;
        right: 18px;
        &:before {
          content: "\e606";
        }
      }
    }
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity:0;
    -webkit-transform:translate(-100px);
    transform:translate(-100px)
  }

  to {
    opacity:1;
    -webkit-transform:none;
    transform:none
  }
}

@keyframes fadeInLeft {
  0% {
    opacity:0;
    -webkit-transform:translate(-100px);
    transform:translate(-100px)
  }

  to {
    opacity:1;
    -webkit-transform:none;
    transform:none
  }
}

@-webkit-keyframes ripple {
  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}





@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
  }
  10%, 20% {
    -webkit-transform:scale3d(.9, .9, .9) rotate(-3deg);
    transform:scale3d(.9, .9, .9) rotate(-3deg)
  }
  30%, 50%, 70%, 90% {
    -webkit-transform:scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform:scale3d(1.1, 1.1, 1.1) rotate(3deg)
  }
  40%, 60%, 80% {
    -webkit-transform:scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform:scale3d(1.1, 1.1, 1.1) rotate(-3deg)
  }
  to {
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
  }
}
@keyframes tada {
  0% {
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
  }
  10%, 20% {
    -webkit-transform:scale3d(.9, .9, .9) rotate(-3deg);
    transform:scale3d(.9, .9, .9) rotate(-3deg)
  }
  30%, 50%, 70%, 90% {
    -webkit-transform:scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform:scale3d(1.1, 1.1, 1.1) rotate(3deg)
  }
  40%, 60%, 80% {
    -webkit-transform:scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform:scale3d(1.1, 1.1, 1.1) rotate(-3deg)
  }
  to {
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
  }
}
@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}