/*----------------------------------------*/
/*  Product CSS
/*----------------------------------------*/

.product {
  &-item {
    border: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
    @include transition(all .5s ease-in-out);
    &:hover {
      -webkit-box-shadow: 0 4px 10px rgb($black, .1);
      box-shadow: 0 4px 10px rgb($black, .1);
      .product-item-thumb {
        &-wrap {
          .product-item-tab-btn {
            &.nav-tabs {
              opacity: 1;
              visibility: visible;
            }
          }
          .countdown1 {
            opacity: 0;
            visibility: hidden;
          }
        }
        img {
          @include scale(1.05);
        }
      }
      .product-item-action {
        .product-action-btn {
          opacity: 1;
          visibility: visible;
          @include translate(0, 0);
        }
      }
    }
    &-thumb {
      &-wrap {
        box-shadow: 0 0 10px 0 rgba($black, .05);
        display: block;
        overflow: hidden;
        position: relative;
        .product-item-tab-btn {
          &.nav-tabs {
            border: none;
            bottom: 10px;
            justify-content: center;
            left: 50%;
            margin: 0;
            opacity: 0;
            position: absolute;
            visibility: hidden;
            width: 100%;
            @include translate(-50%, 0);
            @include transition(all .3s ease-in-out);
            .nav-link {
              background-size: cover;
              border: 3px solid rgba($black, .55);
              border-radius: 0;
              height: 52.7px;
              margin-right: 4px;
              width: 46px;
              &:last-child {
                margin-right: 0;
              }
              &.active {
                border-color: $primary;
              }
            } 
          }
        }
        .product-item-tab-content {}
        .countdown1 {
          bottom: 10px;
          display: inline-flex;
          left: 10px;
          padding: 0;
          position: absolute;
          right: 10px;
          @include transition(all .4s ease-in-out);
        }
      }
      img {
        width: 100%;
        @include transition(all .5s ease-in-out);
      }
    }
    &-action {
      display: flex;
      left: 50%;
      position: absolute;
      justify-content: center;
      top: 50%;
      @include translate(-50%, -50%);
      .product-action-btn {
        background-color: $white;
        border: none;
        border-radius: 50%;
        color: $secondary;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        margin: 2px;
        opacity: 0;
        text-align: center;
        transition-delay: 150ms;
        width: 50px;
        @include translate(0, 30px);
        @include transition(all 0.3s ease 0s);
        @media #{$small-mobile} {
          font-size: 16px;
          height: 40px;
          line-height: 40px;
          width: 40px;
        }
        &[data-tooltip-text]:before {
          font-size: 10px;
          line-height: 1;
          position: absolute;
          z-index: 3;
          bottom: 60%;
          left: 50%;
          visibility: hidden;
          padding: 5px 10px;
          content: attr(data-tooltip-text);
          cursor: default;
          transform: translateX(-50%);
          white-space: nowrap;
          opacity: 0;
          color: #fff;
          border-radius: 50px;
          background-color: #1F2226;
          @include transition(all 0.4s ease 0s);
        }
        &:hover {
          color: $primary;
          &[data-tooltip-text]:before {
            bottom: calc(100% + 3px);
            visibility: visible;
            opacity: 1;
          }
        }
        & + .product-action-btn {
          @include transition(all 0.3s ease .2s);
          & + {
            .product-action-btn {
              @include transition(all 0.3s ease .4s);
              & + {
                .product-action-btn {
                  @include transition(all 0.3s ease .6s);
                }
              }
            }
          }
        }
      }
    }
    &-info {
      padding: 20px 15px 24px;
      position: relative;
    }
    &-quantity {
      margin-bottom: 16px;
      &-text {
        font-size: 15px;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 4px;
      }
      &-progress {
        display: flex;
        width: 100%;
        height: 8px;
        border-radius: 10px;
        background-color: #cccccc;
        &-bar {
          height: 100%;
          border-radius: 10px;
          background-color: $primary;
        }
      }
    }
    &-title {
      line-height: 1.5;
      margin-bottom: 7px;
      @media #{$large-mobile, $small-mobile} {
        font-size: 15px;
      }
      a {
        color: $secondary;
        &:hover {
          color: $primary;
        }
      }
    }
    &-price {
      align-items: center;
      color: $primary;
      display: inline-flex;
      font-size: 19px;
      font-weight: $font-weight-bold;
      line-height: 1;
      margin-bottom: 17px;
      .price-old {
        color: $secondary;
        font-size: 13px;
        font-weight: $font-weight-normal;
        margin-right: 8px;
        position: relative;
        text-decoration: line-through;
        top: -1px;
      }
    }
    &-review-icon {
      color: #fdb819;
      font-size: 15px;
      line-height: 1;
      margin-left: -2px;
      img {
        margin: 0 1.74px;
      }
      i {
        margin: 0 2.5px;
      }
    }
    .label {
      background-color: $primary;
      border-radius: 30px;
      color: $white;
      display: inline-block;
      font-family: $roboto;
      font-size: 10px;
      font-weight: $font-weight-bold;
      line-height: 15px;
      min-width: 50px;
      padding: 3px 8px;
      position: absolute;
      right: 10px;
      text-align: center;
      text-transform: uppercase;
      top: 12px;
      &-two {
        top: 46px;
      }
      &-new {
        background-color: #1f2226;
        left: 10px;
        right: auto;
      }
    }
  }
  &-two-item {
    border: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
    @include transition(all .5s ease-in-out);
    &:hover {
      .product-two-item-thumb {
        &-wrap {
          .product-item-tab-btn {
            &.nav-tabs {
              opacity: 1;
              visibility: visible;
            }
          }
          .countdown1 {
            opacity: 0;
            visibility: hidden;
          }
        }
        img {
          @include scale(1.05);
        }
      }
      .product-two-item-action {
        .product-action-btn {
          opacity: 1;
          visibility: visible;
          @include translate(0, 0);
        }
      }
    }
    &-thumb {
      &-wrap {
        box-shadow: 0 0 10px 0 rgba($black, .05);
        display: block;
        overflow: hidden;
        position: relative;
        .product-item-tab-btn {
          &.nav-tabs {
            border: none;
            bottom: 10px;
            justify-content: center;
            left: 50%;
            margin: 0;
            opacity: 0;
            position: absolute;
            visibility: hidden;
            width: 100%;
            @include translate(-50%, 0);
            @include transition(all .3s ease-in-out);
            .nav-link {
              background-size: cover;
              border: 3px solid rgba($black, .55);
              border-radius: 0;
              height: 52.7px;
              margin-right: 4px;
              width: 46px;
              &:last-child {
                margin-right: 0;
              }
              &.active {
                border-color: $primary;
              }
            } 
          }
        }
        .product-item-tab-content {}
        .countdown1 {
          bottom: 10px;
          display: inline-flex;
          left: 10px;
          padding: 0;
          position: absolute;
          right: 10px;
          @include transition(all .4s ease-in-out);
        }
      }
      img {
        width: 100%;
        @include transition(all .5s ease-in-out);
      }
    }
    &-action {
      display: flex;
      left: 50%;
      position: absolute;
      justify-content: center;
      top: 50%;
      @include translate(-50%, -50%);
      .product-action-btn {
        background-color: $white;
        border: none;
        border-radius: 50%;
        color: $secondary;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        margin: 2px;
        opacity: 0;
        text-align: center;
        transition-delay: 150ms;
        width: 50px;
        @include translate(0, 30px);
        @include transition(all 0.3s ease 0s);
        &[data-tooltip-text]:before {
          font-size: 10px;
          line-height: 1;
          position: absolute;
          z-index: 3;
          bottom: 60%;
          left: 50%;
          visibility: hidden;
          padding: 5px 10px;
          content: attr(data-tooltip-text);
          cursor: default;
          transform: translateX(-50%);
          white-space: nowrap;
          opacity: 0;
          color: #fff;
          border-radius: 50px;
          background-color: #1F2226;
          @include transition(all 0.3s ease 0s);
        }
        &:hover {
          color: $primary;
          &[data-tooltip-text]:before {
            bottom: 100%;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    &-info {
      padding: 20px 15px 24px 0;
      position: relative;
      @media #{$large-mobile} {
        padding: 23px 15px 23px 25px;
      }
      .product-item-action {
        justify-content: flex-start;
        opacity: 1;
        visibility: visible;
        transform: none;
        position: relative;
        bottom: auto;
        top: auto;
        left: 0;
        right: auto;
        .product-action-btn {
          border: 1px solid $secondary;
          border-radius: 0;
          height: auto;
          line-height: 1;
          margin: 2px 4px;
          opacity: 1;
          padding: 13px 19px 10px;
          position: relative;
          transform: none;
          visibility: visible;
          width: auto;
          @media #{$small-mobile} {
            padding: 13px 13px 10px;
          }
          &.action-btn-cart {
            font-size: 18px;
            padding: 12px 19px 11px;
            @media #{$small-mobile} {
              padding: 12px 13px 10px;
            }
            span {
              font-size: 14px;
              margin-left: 6px;
              position: relative;
              top: -3px;
            }
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            background-color: $primary;
            border-color: $primary;
            color: $white;
          }
        }
      }
    }
    &-quantity {
      margin-bottom: 16px;
      &-text {
        font-size: 15px;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 4px;
      }
      &-progress {
        display: flex;
        width: 100%;
        height: 8px;
        border-radius: 10px;
        background-color: #cccccc;
        &-bar {
          height: 100%;
          border-radius: 10px;
          background-color: $primary;
        }
      }
    }
    &-title {
      line-height: 1.5;
      margin-bottom: 18px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        font-size: 20px;
        margin-bottom: 10px;
      }
      a {
        color: $secondary;
        &:hover {
          color: $primary;
        }
      }
    }
    &-desc {
      font-size: 14px;
      font-family: $roboto;
      line-height: 25px;
      margin-bottom: 20px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        font-size: 13px;
      }
    }
    &-price {
      align-items: center;
      color: $primary;
      display: inline-flex;
      font-size: 19px;
      font-weight: $font-weight-bold;
      line-height: 1;
      margin-bottom: 18px;
      .price-old {
        color: $secondary;
        font-size: 13px;
        font-weight: $font-weight-normal;
        margin-left: 8px;
        position: relative;
        text-decoration: line-through;
        top: -1px;
      }
    }
    &-review-icon {
      color: #fdb819;
      font-size: 15px;
      line-height: 1;
      margin-bottom: 18px;
      margin-left: -2px;
      img {
        margin: 0 1.74px;
      }
      i {
        margin: 0 2.5px;
      }
    }
    .label {
      background-color: $primary;
      border-radius: 30px;
      color: $white;
      display: inline-block;
      font-family: $roboto;
      font-size: 10px;
      font-weight: $font-weight-bold;
      line-height: 15px;
      min-width: 50px;
      padding: 3px 8px;
      position: absolute;
      right: 10px;
      text-align: center;
      text-transform: uppercase;
      top: 12px;
      &-two {
        top: 46px;
      }
      &-new {
        background-color: #1f2226;
        left: 10px;
        right: auto;
      }
    }
  }
  &-list {
    &-item {
      align-items: center;
      display: flex;
      .product-item-action {
        justify-content: start;
        left: auto;
        position: relative;
        top: auto;
        transform: none;
        .product-action-btn {
          border: 1px solid #ccc;
          color: $secondary;
          font-size: 14px;
          height: 30px;
          line-height: 28px;
          margin-right: 3px;
          opacity: 1;
          position: relative;
          transform: none;
          visibility: visible;
          width: 30px;
          &:last-child {
            margin-right: 0;
          }
        } 
      }
      &:hover {
        .product-list-thumb {
          img {
            @include scale(1.03);
          }
        }
      }
    }
    &-thumb {
      border: 5px solid #fbfbfb;
      max-width: 30%;
      overflow: hidden;
      img {
        width: 100%;
        @include transition(all .5s ease-in-out);
      }
    }
    &-info {
      max-width: 70%;
      padding: 8px 28px 0 15px;
      position: relative;
      width: 100%;
    }
    &-title {
      line-height: 1.2;
      margin-bottom: 2px;
      margin-top: -6px;
      @media #{$small-mobile} {
        font-size: 14px;
      }
      a {
        color: $headings-color;
        &:hover {
          color: $primary;
        }
      }
    }
    &-price {
      align-items: center;
      color: $primary;
      display: inline-flex;
      font-size: 14px;
      line-height: 1;
      margin-bottom: 13px;
      .price-old {
        color: $secondary;
        font-size: 14px;
        margin-left: 8px;
        text-decoration: line-through;
      }
    }
    &-review-icon {
      color: #ff9923;
      font-size: 14px;
      line-height: 1;
      i {
        margin: 0 .5px;
      }
    }
  }
}

.product-tab-content {
  .nav-tabs {
    border: none;
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
    margin-top: -6px;
    &-two {
      margin-bottom: 30px;
      margin-top: 30px;
      .nav-item {
        margin: 0 10px 10px;
        @media #{$small-mobile} {
          margin: 0 4px 10px;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .nav-link {
        background-color: $secondary;
        border-radius: 50px;
        color: $white;
        line-height: 1;
        margin-bottom: 0;
        padding: 14px 25px;
        @media #{$large-mobile} {
          font-size: 14px;
          padding: 11px 22px 13px;
        }
        @media #{$small-mobile} {
          font-size: 13px;
          padding: 10px 15px;
        }
        &:hover, &.active {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
  .nav-item {
    margin: 0 35px;
    @media #{$tablet-device, $large-mobile} {
      margin: 0 18px;
    }
    @media #{$small-mobile} {
      margin: 0 8px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .nav-link {
    border: none;
    border-radius: 0;
    color: #1f2226;
    font-size: 18px;
    line-height: 1;
    margin-bottom: -2px;
    padding: 0;
    transition: $transition-base;
    @media #{$large-mobile} {
      font-size: 15px;
      padding: 0 0 10px 0;
    }
    &:hover {
      color: $primary;
    }
    &.active {
      background-color: transparent;
      color: $primary;
    }
  }
}

.product-banner {
  &-item {
    overflow: hidden;
    position: relative;
    &:hover {
      img {
        @include scale(1.1);
      }
    }
  }

  &-thumb {
    img {
      @include transition(all .5s ease-in-out);
      width: 100%;
    }
  }

  &-content {
    left: 50px;
    position: absolute;
    top: 39px;
    @media #{$tablet-device, $large-mobile} {
      left: 30px;
      top: 20px;
    }
  }

  &-two-content {
    left: 52px;
    position: absolute;
    top: 48px;
    @media #{$tablet-device} {
      left: 40px;
      top: 18px;
    }
    @media #{$large-mobile} {
      top: 40px;
    }
    @media #{$extra-small-mobile} {
      left: 25px;
      top: 18px;
    }
  }

  &-subtitle {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 17px;
    @media #{$tablet-device, $large-mobile} {
      margin-bottom: 7px;
    }
    @media #{$small-mobile} {
      font-size: 13px;
    }
  }

  &-title {
    color: #1f2226;
    font-size: 22px;
    @media #{$tablet-device, $large-mobile} {
      font-size: 18px;
    }
  }

  &-two-title {
    font-size: 24px;
    margin-bottom: 19px;
    @media #{$tablet-device, $large-mobile} {
      font-size: 22px;
      margin-bottom: 7px;
    }
    @media #{$small-mobile} {
      font-size: 18px;
    }
  }

  &-desc {
    color: #1f2226;
  }

  &-btn {
    font-size: 15px;
    @media #{$tablet-device, $large-mobile} {
      font-size: 14px;
    }
    @media #{$small-mobile} {
      font-size: 13px;
    }
  }

  &-two {
    &-item {
      box-shadow: 0 4px 10px #0000001a;
    }

    &-thumb {
      img {
        width: 100%;
      }
    }
  }
}

.swiper-button-style {
  position: relative;
  .swiper-button {
    &-prev, &-next {
      background-color: transparent;
      border: 1px solid #eee;
      border-radius: 50%;
      color: $secondary;
      font-size: 14px;
      height: 50px;
      left: 0;
      line-height: 50px;
      opacity: 0;
      text-align: center;
      top: calc(50% + 17px);
      visibility: hidden;
      width: 50px;
      transition: $transition-base;
      z-index: 9;
      @include translate(0, -50%);
      @media #{$tablet-device, $large-mobile} {
        height: 35px;
        line-height: 35px;
        width: 35px;
      }
      &:hover {
        border-color: $primary;
        color: $primary;
      }
      &:before {
        content: "\e605";
        font-family: 'simple-line-icons';
        font-size: 14px;
      }
      &:after {
        display: none;
      }
    }
    &-next {
      left: auto;
      right: 0;
      &:before {
        content: "\e606";
      }
    }
  }
  &:hover {
    .swiper-button {
      &-prev, &-next {
        opacity: 1;
        visibility: visible;
      }
      &-prev {
        left: -15px;
      }
      &-next {
        right: -15px;
      }
    }
  }
}

.swiper-button-style2 {
  position: relative;
  .swiper-button {
    &-prev, &-next {
      background-color: $white;
      border: 1px solid #e1e2e2;
      border-radius: 50%;
      color: #1f2226;
      font-size: 16px;
      height: 40px;
      left: 15px;
      line-height: 40px;
      opacity: 0;
      text-align: center;
      top: calc(50% + 22px);
      visibility: hidden;
      width: 40px;
      transition: $transition-base;
      z-index: 9;
      @include translate(0, -50%);
      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
      &:before {
        content: "\e605";
        font-family: 'simple-line-icons';
        font-size: 14px;
      }
      &:after {
        display: none;
      }
    }
    &-next {
      left: auto;
      right: 15px;
      &:before {
        content: "\e606";
      }
    }
  }
  &:hover {
    .swiper-button {
      &-prev, &-next {
        opacity: 1;
        visibility: visible;
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
  }
}

.swiper-button-style3 {
  position: relative;
  .swiper-button {
    &-prev, &-next {
      background-color: transparent;
      border: 1px solid #eee;
      border-radius: 50%;
      color: $secondary;
      font-size: 14px;
      height: 40px;
      left: 0;
      line-height: 40px;
      opacity: 0;
      text-align: center;
      top: calc(50% + 17px);
      visibility: hidden;
      width: 40px;
      transition: $transition-base;
      z-index: 9;
      @include translate(0, -50%);
      &:hover {
        border-color: $primary;
        color: $primary;
      }
      &:before {
        content: "\e605";
        font-family: 'simple-line-icons';
        font-size: 14px;
      }
      &:after {
        display: none;
      }
    }
    &-next {
      left: auto;
      right: 0;
      &:before {
        content: "\e606";
      }
    }
  }
  &:hover {
    .swiper-button {
      &-prev, &-next {
        opacity: 1;
        visibility: visible;
      }
      &-prev {
        left: -15px;
      }
      &-next {
        right: -15px;
      }
    }
  }
}

.countdown1 {
  display: flex;
  justify-content: center;
  .count {
    background-color: rgba($black, .75);
    color: $white;
    font-family: $lato;
    margin-right: 4px;
    padding: 12px 4px 11px;
    text-align: center;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
    span {
      display: block;
      font-size: 14px;
      font-weight: $font-weight-bold;
      line-height: 1;
      text-align: center;
      &.amount {
        margin-bottom: 2px;
      }
      &.period {
        display: inline-block;
        font-size: 12px;
        font-weight: $font-weight-bold;
        .period-desc {
          display: inline-block;
          font-size: 12px;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}

.countdown2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 770px;
  margin-bottom: 1px;
  padding: 18px 0 3px;
  gap: 25px;
  @media #{$extra-small-mobile} {
    padding: 18px 15px 3px;
  }
  &:before, &:after {
    position: absolute;
    z-index: -1;
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    content: "";
    box-shadow: 0 10px 30px 0 rgba(209, 209, 209, .5);
  }
  &:before {
    left: 6px;
    right: 6px;
    top: 6px;
  }
  &:after {
    bottom: -13px;
    left: 12px;
    right: 12px;
    top: 12px;
  }
  .count {
    display: flex;
    padding: 10px 0;
    .amount {
      font-size: 36px;
      line-height: 1;
      padding-right: 6px;
      @media #{$large-mobile} {
        font-size: 24px;
      }
    }
    .period {
      align-self: flex-end;
      font-size: 18px;
      line-height: 1;
      position: relative;
      top: -2px;
      @media #{$large-mobile} {
        font-size: 16px;
      }
    }
  }
}

/* Shop Top Bar */
.shop-top-bar {
  display: flex;
  font-size: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 41px;
  gap: 10px;
  &-item {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 10px;
    & label {
      font-size: 15px;
      margin: 0;
    }
    & select {
      font-size: 15px;
      padding-right: 15px;
      border: none;
      background-color: transparent;
      &.select-shoing {
        & + .nice-select {
          font-size: 15px;
          margin-left: 9px;
          min-width: 156px;
          &:after {
            border: none;
            color: $secondary;
            content: "\ea99";
            font-family: "IcoFont";
            font-size: 17px;
            height: auto;
            line-height: 1;
            right: 0;
            top: calc(50% - 3px);
            transform: none;
            width: auto;
          }
        }
      }
      &.select-shoing-count {
        & + .nice-select {
          font-size: 15px;
          margin-left: 9px;
          min-width: 56px;
          &:after {
            border: none;
            color: $secondary;
            content: "\ea99";
            font-family: "IcoFont";
            font-size: 17px;
            height: auto;
            line-height: 1;
            right: 0;
            top: calc(50% - 3px);
            transform: none;
            width: auto;
          }
        }
      }
    }
    & p {
      font-size: 15px;
    }
    & .list-grid-toggle {
      display: flex;
      gap: 25px;
      & button {
        color: $secondary;
        line-height: 1;
        display: flex;
        padding: 5px;
        border: none;
        background-color: transparent;
        & i {
          font-size: 18px;
        }
        &.active {
          color: $primary;
        }
      }
    }
    & .nice-select {
      border: none;
      height: auto;
      line-height: 1;
      margin: 0;
      padding: 0;
      width: auto;
    }
  }
}

/* Shop Pro Qty */
.pro-qty {
  display: inline-block;
  font-weight: $font-weight-medium;
  margin-right: 10px;
  position: relative;

  input {
    border: 2px solid #dedede;
    border-radius: 35px;
    color: $black;
    height: 50px;
    font-size: 16px;
    padding: 0 25px 0;
    text-align: center;
    width: 90px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      height: 45px;
    }
  }

  .qty-btn {
    cursor: pointer;
    position: absolute;
    line-height: 16px;
    color: $black;
    top: calc(50% - 0px);
    transform: translate(0%, -50%);
    font-size: 16px;
    text-align: center;
    transition: $transition-base;
    user-select: none;

    &:hover {
      color: $primary;
    }
  }

  .dec {
    right: 0;
    padding-right: 18px;
  }

  .inc {
    left: 0;
    padding-left: 18px;
  }
}

// Shopping Cart
.cart-table {
  width: 100%;
  thead {
    background-color: #f3f3f3;
    > tr {
      th {
        color: $body-color;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 14px 23px 14px;
        &.width-thumbnail {
          min-width: 130px;
        }
        &.width-name {
          min-width: 400px;
        }
        &.width-price {
          min-width: 162px;
        }
        &.width-quantity {
          min-width: 170px;
        }
        &.width-subtotal {
          min-width: 145px;
        }
        &.width-remove {
          min-width: 101px;
        }
      }
    }
  }
  tbody > tr {
    border-bottom: 1px solid #e5e5e5;
    td {
      padding: 23px;
      &.product-thumbnail {
        a {
          display: block;
          img {
            width: 80px;
          }
        }
      }
      &.product-name {
        h5 {
          display: block;
          font-weight: 500;
          font-size: 15px;
          color: $headings-color;
          a {
            color: $headings-color;
            &:hover {
              color: $primary;
            }
          }
        }
      }
      &.product-price {
        span {
          font-size: 16px;
          font-weight: 500;
          color: $body-color;
        }
      }
      &.product-total {
        span {
          font-size: 16px;
          font-weight: 500;
          color: $headings-color;
        }
      }
      &.cart-quality {
        .product-details-quality {
          input {
            border: 1px solid #e5e5e5;
            background-color: transparent;
            color: $headings-color;
            width: 95px;
            height: 40px;
            font-weight: 500;
            padding: 0 10px;
            &::-webkit-inner-spin-button {
              cursor: pointer;
              opacity: 1;
            }
            &::-webkit-outer-spin-button {
              cursor: pointer;
              opacity: 1;
            }
          }
        }
      }
      &.product-remove {
        a {
          font-size: 18px;
          color: $primary;
          display: inline-block;
          &:hover {
            color: $headings-color;
          }
        }
      }
    }
  }
}

.cart-calculate-discount-wrap {
  h4 {
    font-size: 20px;
    margin: 0 0 30px;
  }
}

.cart-shiping-update-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 100px;
  @media #{$desktop-device, $tablet-device, $large-mobile} {
    margin: 40px 0 60px;
  }
  @media #{$extra-small-mobile} {
    display: block;
  }
}

.cart-shiping-btn {
  a {
    font-size: 14px;
    background-color: $primary;
    @media #{$extra-small-mobile} {
      display: block;
      width: 100%;
    }
    &.btn-link {
      background-color: $headings-color;
      border: none;
      border-radius: 0;
      color: $white;
      line-height: 1;
      min-height: auto;
      padding: 16px 20px;
      text-decoration: none;
    }
    i {
      font-size: 16px;
      margin-right: 2px;
      position: relative;
      top: 0;
    }
  }
  &.continure-btn {
    a {
      background-color: $primary;
      @media #{$extra-small-mobile} {
        margin-bottom: 15px;
      }
      &:hover {
        background-color: $headings-color;
      }
    }
  }
  &.update-btn {
    a {
      background-color: $headings-color;
      &:hover {
        background-color: $primary;
      }
    }
  }
}

.select-style {
  margin-bottom: 15px;
  .select-active {
    border: 1px solid #d3d3d3;
    border-radius: 0;
    width: 100%;
    height: 49px;
    line-height: 49px;
    color: $headings-color;
    margin-bottom: 15px;
    padding-left: 18px;
    padding-right: 20px;
    @media #{$large-mobile} {
      height: 42px;
      line-height: 42px;
    }
  }
}

.calculate-discount-content {
  p {
    font-size: 14px;
    margin-bottom: 18px;
    display: block;
    color: $body-color;
  }
  .input-style {
    margin-bottom: 15px;
    input {
      background-color: transparent;
      border: 1px solid #d3d3d3;
      border-radius: 0;
      color: $headings-color;
      height: 49px;
      padding: 2px 16px 2px 18px;
      width: 100%;
      @include placeholder {
        color: $headings-color;
        font-size: 14px;
        opacity: 1;
      }
      &:focus {
        border-color: $headings-color;
      }
    }
  }
}

.calculate-discount-btn {
  a {
    background-color: $headings-color;
    font-size: 14px;
    text-transform: capitalize;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 14px;
    }
    &.btn {
      border-radius: 0;
      line-height: 1;
      min-height: auto;
      padding: 18px 20px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        padding: 11px 19px;
      }
    }
    &.btn-link {
      border: none;
      text-decoration: none;
      color: $white;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.grand-total-content {
  padding: 30px;
  padding: 34px 30px 33px;
  background-color: #f5f5f5;
  h5 {
    margin: 0;
    border-bottom: 1px solid $secondary;
    display: flex;
    justify-content: space-between;
    padding: 0 0 18px;
    span {
      color: $primary;
    }
  }    
}

.grand-total {
  h4 {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin: 0;
    span {
      color: $primary;
    }
  }
}

.grand-total-btn {
  margin-top: 24px;
  a {
    font-size: 15px;
    text-transform: uppercase;
    background-color: $primary;
    display: block;
    font-weight: 500;
    &.btn {
      border-radius: 0;
      line-height: 1;
      min-height: auto;
      padding: 20px 15px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        padding: 14px 10px;
      }
    }
    &.btn-link {
      text-decoration: none;
      color: $white;
    }
    &:hover {
      background-color: $headings-color;
      border-color: $headings-color;
    }
  }
}

.grand-shipping {
  padding: 38px 0 32px;
  > span {
    font-size: 16px;
  }
  ul {
    padding: 17px 0 0px;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        width: auto;
        height: auto;
        &:hover {
          cursor: pointer;
        }
      }
      label {
        font-size: 16px;
        font-weight: 400;
        color: $headings-color;
        margin-left: 10px;
      }
    }
  }
}

.shipping-country {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 35px;
  margin-bottom: 30px;
  p {
    display: block;
    padding: 10px 20px;
    background-color: #4bb1cf;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    line-height: 1.7;
    border-left: 6px solid #3198b6;
  }
}

// Checkout Table
.checkout-coupon-wrap {
  > p {
    background-color: #f3f3f3;
    padding: 1.188rem 1.25rem;
    border-radius: 3px;
    position: relative;
    &.cart-page-title {
      font-size: 14px;
      color: $black;
    }
    i {
      font-size: 13px;
      position: relative;
      top: 1px;
    }
    a {
      color: $secondary;
      margin-left: 6px;
      font-size: 14px;
      &:hover {
        color: $primary;
      }
    }
  }
}

.checkout-coupon-content {
  p {
    color: #666;
    margin: 0;
  }
  input {
    height: 55px;
    border: 1px solid #e5e5e5;
    background-color: transparent;
    color: $black;
    font-size: 15px;
    padding: 2px 16px;
    margin: 25px 0 15px;
    width: 100%;
    &:focus {
      border-color: $headings-color;
    }
  }
  button {
    border: none;
    background-color: $body-color;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 18px 35px 17px;
    position: relative;
    top: -2px;
    @include transition(all .3s ease-in-out);
    &:hover {
      background-color: $primary;
    }
  }
}

.billing-info-wrap {
  h4 {
    font-size: 20px;
    margin: 0 0 23px;
  }
}

.billing-info {
  label {
    color: $black;
    display: block;
    margin: 0 0 15px;
    @media #{$large-mobile} {
      margin-bottom: 10px;
    }
    abbr {
      color: $body-color;
    }
  }
  input {
    background-color: transparent;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    color: $headings-color;
    font-size: 14px;
    height: 49px;
    padding: 2px 16px;
    width: 100%;
    @include placeholder {
      color: $headings-color;
      font-size: 14px;
      opacity: 1;
      @media #{$large-mobile} {
        font-size: 12px;
      }
    }
    @media #{$large-mobile} {
      height: 42px;
    }
    &:focus {
      border-color: $headings-color;
    }
    &.billing-address {
      margin-bottom: 20px;
    }
  }
}

.billing-select {
  .select-style {
    .select-active {
      border-color: #e5e5e5;
      border-width: 1px;
      padding-left: 16px;
    }
  }
  label {
    color: $black;
    display: block;
    margin: 0 0 15px;
    abbr {
      color: #f33;
    }
  }
}

.checkout-account {
  input {
    border: 1px solid #e5e5e5;
    display: inline-block;
    float: left;
    height: 10px;
    width: 10px;
    position: relative;
    top: 10px;
    color: #495057;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      top: 8px;
    }
    &.checkout-toggle {
      cursor: pointer;
      top: 8px;
    }
  }
  span {
    margin: 0 0 0 12px;
    font-size: 14px;
  }
}

.additional-info-wrap {
  margin: 19px 0 -5px;
  label {
    color: $black;
    display: block;
    margin: 0 0 15px;
  }
  textarea {
    width: 100%;
    min-height: 92px;
    background-color: transparent;
    padding: 12px 16px;
    color: $headings-color;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    @include placeholder {
      @media #{$large-mobile} {
        font-size: 12px;
      }
    }
    &:focus {
      border-color: $headings-color;
    }
  }
}

.checkout-coupon-content ,
.different-address {
  display: none;
}

.your-order-area {
  h3 {
    font-size: 20px;
    margin: 0 0 21px;
  }
}

.your-order-wrap {
  background-color: #f6f6f6;
  padding: 36px;
  @media #{$small-mobile} {
    padding: 30px 20px;
  }
}

.your-order-title {
  h6 {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 18px;
    padding: 0 0 22px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.your-order-product {
  padding-bottom: 21px;
  ul {
    margin: 0;
    li {
      display: flex;
      justify-content: space-between;
      margin: 0 0 16px;
      &:last-child {
        margin: 0 0 0;
      }
      span {
        font-size: 16px;
        color: $primary;
        font-weight: 500;
      }
    }
  }
}

.your-order-subtotal {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5; 
  padding: 20px 0;
  h3 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 18px;
      font-weight: 600;
      color: $primary;
    }
  }
}

.your-order-shipping {
  padding: 21px 0 22px;
  > span {
    font-size: 15px;
    font-weight: 500;
  }
  ul {
    padding: 17px 0 0px;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        cursor: pointer;
        width: auto;
        height: auto;
        position: relative;
        top: 3px;
      }
      label {
        color: #666;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
      }
    }
  }
}

.your-order-total {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5; 
  padding: 20px 0;
  h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 22px;
      color: $primary;
    }
  }
}

.payment-method {
  padding: 40px 0 10px;
}

.sin-payment {
  margin-bottom: 25px;
  input {
    cursor: pointer;
    width: auto;
    display: inline-block;
    float: left;
    height: auto;
    margin-top: 5px;
  }
  label {
    color: $headings-color;
    cursor: pointer;
    font-size: 15px;
    margin: 0px 0 0 21px;
    display: flex;
    align-items: center;
    img {
      max-width: 140px;
      display: inline-block;
      margin: 0 5px
    }
    a {
      color: $black;
      text-decoration: underline;
      &:hover {
        color: $primary;
      }
    }
  }
}

.payment-box {
  margin: 6px 0 0 21px;
  display: none;
  p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
}

.payment-condition {
  border-top: 1px solid #e5e5e5; 
  padding: 20px 0 0;
  margin: 0 0 10px;
  p {
    font-size: 14px;
    line-height: 1.9;
    a {
      color: $primary;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.payment-checkbox {
  display: flex;
  align-items: center;
  input {
    width: auto;
    height: auto;
  }
  span {
    color: #888;
    font-size: 14px;
    margin-left: 10px;
    a {
      color: $primary;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.place-order {
  margin-top: 20px;
  a {
    padding: 17px 20px;
    font-size: 14px;
    line-height: 1;
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    text-align: center;
    background-color: $primary;
    @media #{$large-mobile} {
      font-size: 16px;
    }
    &:hover {
      background-color: $body-color;
    }
  }
}

// Wishlist Table
.wishlist-table-content {
  width: 100%;
  thead {
    background-color: #f3f3f3;
    > tr {
      th {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 14px 12px 14px;
        &.width-thumbnail {
          min-width: 130px;
        }
        &.width-name {
          min-width: 300px;
        }
        &.width-price {
          min-width: 162px;
        }
        &.width-stock-status {
          min-width: 170px;
        }
        &.width-subtotal {
          min-width: 145px;
        }
        &.width-remove {
          min-width: 50px;
        }
      }
    }
  }
  tbody > tr {
    border-bottom: 1px solid #e5e5e5;
    td {
      padding: 23px 12px;
      &.product-thumbnail {
        a {
          display: block;
          img {
            width: 80px;
          }
        }
      }
      &.product-name {
        h5 {
          display: block;
          font-weight: 400;
          font-size: 15px;
          color: $black;
          a {
            color: $black;
            &:hover {
                color: $primary;
            }
          }
        }
      }
      &.product-price {
        span {
          font-size: 16px;
          font-weight: 500;
          color: $body-color;
        }
      }
      &.stock-status {
        span {
          font-size: 14px;
          font-weight: 500;
          color: $body-color;
          i {
              font-size: 11px;
          }
        }
      }
      &.product-remove {
        a {
          font-size: 28px;
          color: #c3c3c3;
          display: inline-block;
          &:hover {
            color: $primary;
          }
        }
      }
      &.wishlist-cart {
        a {
          display: inline-block;
          font-weight: 400;
          font-size: 14px;
          color: $white;
          padding: 11px 16px 12px;
          line-height: 1;
          white-space: pre;
          background-color: $secondary;
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}

// Compare Table
.compare-table {
  &-content {
    & tr {
      margin-bottom: 20px;
      & td {
        padding: 20px 20px;
        vertical-align: middle;
        border-color: #e5e5e5;
        color: $black;
        &.first-column {
          min-width: 175px;
          font-size: 16px;
          font-weight: 500;
          margin: 0;
        }
        &.product-image-title {
          min-width: 310px;
          vertical-align: bottom;
          text-align: left;
          & .image {
            clear: both;
            width: 100%;
            margin-bottom: 15px;
            display: block;
            img {
              width: 100%;
            }
          }
          & .category {
            float: left;
            clear: both;
            color: $body-color;
            text-transform: capitalize;
            letter-spacing: 0.5px;
          }
          & .title {
            color: $black;
            clear: both;
            float: left;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
            margin-top: 5px;
            text-transform: capitalize;
            &:hover {
              color: $primary;
            }
          }
        }
        &.pro-desc {
          & p {
            margin: 0;
            line-height: 30px;
            text-align: left;
          }
        }
        a {
          &.check-btn {
            color: $black;
            font-size: 15px;
            &:hover {
              color: $primary;
            }
          }
        }
        &.pro-color,
        &.pro-stock {
          font-size: 15px;
          font-weight: 400;
          color: $body-color;
        }
        &.pro-price {
          color: $primary;
          font-size: 16px;
          font-weight: 500;
        }
        &.pro-remove {
          & button {
            border: none;
            background-color: transparent;
            color: $primary;
            padding: 0;
            cursor: pointer;
            &:hover {
              color: $headings-color; 
            }
            & i {
              font-size: 18px;
            }
          }
        }
        &.pro-ratting {
          & i {
            color: #ff9923;
          }
        }
      }
    }
  }
}

// My Account
.myaccount {
  &-tab-menu {
    border: none;
    flex-direction: column;
    @media #{$large-mobile} {
      margin-bottom: 40px;
    }
  }
  &-nav-link {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-radius: 0;
    color: $black;
    font-size: 15px;
    display: block;
    padding: 10px 15px;
    text-align: left;
    text-transform: capitalize;
    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
    &.active {
      background-color: $primary;
    }
    &:hover,
    &.active {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    } 
  }
}

.myaccount-content {
  border: 1px solid #eee;
  padding: 30px;
  @media #{$desktop-device, $tablet-device, $large-mobile} {
    padding: 20px;
  }
  form {
    margin-top: -20px;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  .welcome {
    a {
      &:hover {
        color: $primary;
      }
    }
    strong {
      font-weight: 600;
      color: $primary;
    }
  }
  p {
    line-height: 28px;
    margin-bottom: 2px;
  }
  fieldset {
    margin-top: 20px;
    & legend {
      font-size: 16px;
      margin-bottom: 20px;
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

.account-details-form {
  margin-top: 50px;
  .single-input-item {
    margin-bottom: 20px;
    label {
      font-size: 14px;
      text-transform: capitalize;
      display: block;
      margin: 0 0 5px;
    }
    input {
      border: 1px solid #e8e8e8;
      width: 100%;
      height: 49px;
      background-color: transparent;
      padding: 2px 20px;
      color: $black;
      font-size: 13px;
      @include placeholder {
        color: #1f2226;
      }
      &:focus {
        border: 1px solid $headings-color;
      }
    }
    button {
      border: none;
      background-color: $primary;
      padding: 9px 25px;
      color: #fff;
      font-size: 13px;
      &:hover {
        background-color: #1f2226;
      }
    }
  }
}
  
.myaccount-table {
  white-space: nowrap;
  font-size: 14px;
  th {
    padding: 10px;
    font-weight: 600;
    background-color: #f8f8f8;
    border-color: #ccc;
    border-bottom: 0;
    color: #1f2226;
  }

  td {
    padding: 10px;
    vertical-align: middle;
    border-color: #ccc;
    a {
      font-size: 14px;
      color: $black;
    }
  }
}

.saved-message {
  background-color: #fff;
  border-top: 3px solid $primary;
  font-size: 14px;
  padding: 20px 0;
  color: #333;
}

// Login Register Table
.login-register-title {
  h3 {
    margin: 0 0 15px;
    line-height: 1;
    text-transform: uppercase;
  }
  p {
    line-height: 1.6;
    color: $body-color;
    width: 85%;
    @media #{$large-mobile} {
      width: 100%;
    }
  }
}

.login-register-pr {
  padding-right: 100px;
  @media #{$desktop-device, $tablet-device, $large-mobile} {
    padding-right: 0;
  }
}

.login-register-pl {
  padding-left: 100px;
  @media #{$desktop-device, $tablet-device, $large-mobile} {
    padding-left: 0;
  }
  @media #{$large-mobile} {
    margin-top: 82px;
  }
}

.login-register-border {
  border-right: 1px solid #e5e5e5;
  @media #{$large-mobile} {
    border: none;
  }
}

.login-register-style {
  margin: 33px 0 0;
  p {
    color: $black;
    font-size: 15px;
    line-height: 1.8;
    margin: 0 0 35px;
  }
}

.login-register-input {
  position: relative;
  margin-bottom: 10px;
  input {
    color: $headings-color;
    width: 100%;
    height: 51px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    padding: 2px 80px 2px 16px;
    font-size: 15px;
    @include placeholder {
      color: #495057;
      opacity: 1;
    }
    &:focus {
      border-color: $headings-color;
    }
  }
  .forgot {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    a {
      color: $black;
      font-size: 15px;
      &:hover {
        color: $primary;
      }
    }
  }
}

.login-register-paragraph {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  margin: 30px 0 30px;
  p {
    font-size: 14px;
    color: #666;
    line-height: 1.9;
    margin: 0;
    a {
      font-size: 14px;
      color: $primary;
      &:hover {
        color: $headings-color;
      }
    }
  }
}

.remember-me-btn {
  display: flex;
  align-items: center;
  margin: 19px 0 0px;
  input {
    cursor: pointer;
    width: auto;
    height: auto;
    margin-right: 10px;
  }
  label {
    color: $black;
    font-size: 15px;
  }
}

.btn-register {
  margin: 21px 0 0px;
}

.btn-register-now {
  font-size: 14px;
  border-radius: 0;
  color: $white;
  background-color: $primary;
  border: none;
  line-height: 1;
  text-align: center;
  padding: 13px 32px 11px;
  text-transform: uppercase;
  @include transition(all .3s ease-in-out);
  &:hover {
    background-color: $headings-color;
    color: $white;
  }
}

.register-benefits {
  background-color: #f3f3f3;
  padding: 40px 30px;
  margin-top: 60px;
  @media #{$tablet-device, $large-mobile} {
    padding: 30px 20px;
  }
  @media #{$large-mobile} {
    margin-top: 87px;
  }
  h4 {
    text-transform: uppercase;
    margin: 0 0 20px;
  }
  p {
    line-height: 1.6;
    font-size: 14px;
    color: $headings-color;
    margin: 0 0 28px;
  }
  ul {
    margin: 0;
    li {
      color: $body-color;
      font-size: 16px;
      margin: 0 0 16px;
      @media #{$desktop-device, $tablet-device, $large-mobile} {
        font-size: 15px;
      }
      &:last-child {
        margin: 0 0 0;
      }
      i {
        font-size: 20px;
        color: $body-color;
        margin-right: 12px;
        position: relative;
        top: 3px;
        @media #{$desktop-device, $tablet-device, $large-mobile} {
          margin-right: 0;
        }
      }
    }
  }
}

// Product Modal
.product-cart-view-modal {
  .modal-dialog {
    max-width: 1180px;
    @media #{$desktop-device, $large-mobile} {
      margin-left: 15px;
      margin-right: 15px;
    }
    @media #{$tablet-device} {
      max-width: 540px;
    }
  }
  .modal-body {
    padding: 30px 15px;
    @media #{$tablet-device, $large-mobile} {
      padding: 30px 15px 60px;
    }
  }
  .modal-content {
    border: none;
  }
  .product-single-info {
    padding-bottom: 0;
    padding-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
    .prices {
      margin: 20px 0 20px 0;
    }
    .desc {
      margin-bottom: 20px;
    }
  }
  .btn-close {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid $secondary;
    background-image: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 2;
    width: 25px;
    height: 25px;
    color: $secondary;
    text-align: center;
    @include transition(all .3s ease-in-out);
    span {
      position: relative;
      top: -1px;
    }
    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }
}
.single-product-quick-view-slider {
  .thumb-item {
    img {
      width: 100%;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: transparent;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: calc(50%);
    width: 50px;
    @include transition(.3s);
    @media #{$extra-small-mobile} {
      display: none;
    }
    &:before {
      color: $primary;
      font-family: 'simple-line-icons';
      font-size: 20px;
      left: -2px;
      line-height: 1;
      position: relative;
      @include transition(.3s);
    }
    &:after {
      display: none;
    }
    &:hover {
      color: $secondary;
      &:before {
        color: $secondary;
      }
    }
  }

  .swiper-button-prev {
    left: 10px;
    &:before {
      content:"\e605";
    }
  }
  .swiper-button-next {
    right: 10px;
    &:before {
      content:"\e606";
      left: auto;
      right: -2px;
    }
  }

}

.product-action {
  &-modal {
    .modal-body {
      padding: 25px 30px;
    }
  }
  &-view-content {
    .btn-close {
      background: none;
      color: $secondary;
      font-size: 18px;
      margin-right: 9px;
      position: relative;
      top: -13px;
    }
    .modal-action-messages {
      margin-bottom: 20px;
    }
  }
}

.modal-action-product {
  .product-name {
    margin-top: 20px;
  }
}