/*----------------------------------------*/
/*  Blog Post CSS
/*----------------------------------------*/

.post-item {
  border: 1px solid #eee;
  padding: 10px;
  &-thumb {
    display: block;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    img {
      width: 100%;
      @include transition(all .5s ease-in-out);
    }
  }

  &-content {
    padding: 0 10px 10px;
    .btn {
    }
  }
  &-title {
    font-size: 20px;
    font-weight: $font-weight-medium;
    margin-bottom: 18px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 16px;
    }
  }
  &-desc {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
      font-size: 14px;
    }
  }
  &-meta {
    align-items: center;
    border-top: 1px solid #ebebeb;
    display: flex;
    padding: 21px 0 24px;
  }
  &-two-meta {
    align-items: center;
    display: flex;
    padding: 7px 0 9px;
    & + .post-item-title {
      margin-bottom: 19px;
    }
  }
  &-date {
    font-size: 13px;
    line-height: 1;
    position: relative;
    &:after {
      background-color: #999898;
      content: "";
      height: 1px;
      position: absolute;
      right: -22px;
      top: 50%;
      width: 15px;
      @include rotate(70);
    }
    a {
      align-items: center;
      color: #4b4b4b;
      display: flex;
      &:hover {
        color: $primary;
      }
    }
    .icon {
      color: $primary;
      font-size: 16px;
      margin-right: 10px;
    }
  }
  &-comments {
    font-size: 13px;
    line-height: 1;
    margin-left: 31px;
    a {
      align-items: center;
      color: #4b4b4b;
      display: flex;
      &:hover {
        color: $primary;
      }
    }
    .icon {
      color: $primary;
      font-size: 16px;
      margin-right: 7px;
    }
  }
  &:hover {
    .post-item-thumb {
      img {
        @include scale(1.1);
      }
    }
  }
}

.blog-detail {
  &-title {
    color: #1a1919;
    font-size: 24px;
    margin-bottom: 13px;
    @media #{$large-mobile} {
      font-size: 20px;
    }
  }
  &-meta {
    margin-bottom: 35px;
    &.post-item-meta {
      border: none;
      padding: 0;
    }
    .post-item-date, .post-item-comments {
      font-size: 14px;
    }
  }
  p {
    font-size: 14px;
    font-family: $roboto;
    line-height: 24px;
    margin-bottom: 14px;
  }
  &-post-date,
  &-post-views {
    align-items: center;
    color: #544d4d;
    display: inline-flex;
    line-height: 1;
    i {
      color: $primary;
      margin-right: 9px;
    }
  }
  &-post-views {
    margin-left: 23px;
  }
  &-tag-social {
    align-items: center;
    display: flex;
    justify-content: space-between;
    @media #{$extra-small-mobile} {
      display: block;
    }
  }
  &-social {
    @media #{$extra-small-mobile} {
      margin-top: 20px;
    }
    span {
      color: $secondary;
      font-size: 15px;
      font-family: $roboto;
      line-height: 1;
      margin-right: 10px;
      position: relative;
      top: -2px;
    }
    &-item {
      color: #555;
      font-size: 24px;
      line-height: 1;
      margin-right: 10px;
      @media #{$large-mobile} {
        font-size: 17px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}

.next-previous-post {
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 32px;
  padding: 18px 0 17px;
  .post {
    &-prev, &-next {
      font-size: 15px;
      i {
        font-size: 12px;
      }
    }
  }
}

.tag-item {
  color: $secondary;
  font-size: 15px;
  font-family: $roboto;
  line-height: 1;
  margin-right: 10px;
  &:hover {
    color: $primary;
  }
}

.comment {
  &-area {
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    margin-top: 98px;
    padding: 43px 40px 40px;
    &-title {
      margin-bottom: 37px;
      padding-bottom: 9px;
      position: relative;
      &:after {
        background-color: $primary;
        bottom: -2px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100px;
      }
      &:before {
        background-color: #e9e9e9;
        bottom: -2px;
        content: "";
        height: 2px;
        left: 0;
        max-width: 210px;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.single {
  &-comment {
    display: flex;
    position: relative;
    &-thumb {
      margin-right: 30px;
      min-width: 120px;
      img {
        border: 1px solid #efefef;
        border-radius: 50%;
      }
    }
    &-name {
      color: #000;
      font-weight: 400;
      margin-bottom: 2px;
      text-transform: uppercase;
    }
    &-date {
      color: $primary;
      display: block;
      margin-bottom: 11px;
      text-transform: uppercase;
    }
    .reply-icon {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba($primary, .5);
      color: $primary;
      line-height: 1;
      padding: 0;
      position: absolute;
      right: 50px;
      top: 4px;
    }
  }
}

.comment-form {
  &-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 42px;
    text-transform: uppercase;
    @media #{$large-mobile} {
      font-size: 18px;
      margin-bottom: 32px;
    }
  }
  .form-input-item {
    .form-control {
      border: 1px solid #eaeaea;
      color: #1f2226;
      font-family: $roboto;
      height: 50px;
      margin-bottom: 30px;
      padding: 2px 20px 2px 20px;
      @media #{$large-mobile} {
        margin-bottom: 15px;
      }
      @include placeholder {
        color: #757575;
      }
    }
    textarea {
      &.form-control {
        height: 250px;
        padding: 20px 20px 2px 20px;
        @media #{$tablet-device, $large-mobile} {
          height: 160px;
        }
      }
    }
  }
  &-area {
    .btn {
      &.btn-submit {
        background-color: $primary;
        border-color: $primary;
        font-size: 15px;
        font-family: $roboto;
        margin: 0;
        padding: 18px 25px 16px;
        @media #{$small-mobile} {
          font-size: 13px;
          padding: 13px 20px 12px;
        }
        &:hover {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
        }
      }
    }
  }
}

.page-numbers {
  display: flex;
  justify-content: start;
  margin-bottom: 0;
  li {
    margin: 0 5.5px;
  }
}

.page-number {
  background-color: $white;
  border: none;
  border-radius: 50%;
  color: #1f2226;
  display: inline-block;
  font-weight: $font-weight-normal;
  font-size: 16px;
  width: 43px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  -webkit-box-shadow: 0 0 12px 0.8px rgba($black, .1);
  box-shadow: 0 0 12px 0.8px rgba($black, .1);
  &:hover, &.active {
    background-color: $primary;
    color: $white;
  }
  &.active {
    box-shadow: none;
  }
  &.prev, &.next {
    background-color: transparent;
    box-shadow: none;
    font-size: 15px;
    line-height: 45px;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}