/*----------------------------------------*/
/*  Contact CSS
/*----------------------------------------*/

.contact-wrp {
}

.contact-info {
  &-area {
    padding: 0 11px 0 60px;
    @media #{$desktop-device} {
      padding: 0 11px 0 20px;
    }
    @media #{$tablet-device, $large-mobile} {
      padding: 0 11px 30px 0;
    }
    &-title {
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 50px;
      @media #{$large-mobile} {
        font-size: 24px;
        margin-bottom: 30px;
      }
    }
  }
  &-item {
    align-items: center;
    display: flex;
    margin-bottom: 23px;
    &:hover {
      .contact-info-icon {
        color: $primary;
      }
    }
  }
  &-icon {
    font-size: 36px;
    width: 62px;
  }
  &-content {
    line-height: 1.5;
    a {
      color: #464545;
      display: block;
      &:hover {
        color: $primary;
      }
    }
    span {
      display: block;
    }
  }
}

.contact-form {
  &-area {
    -webkit-box-shadow: 10px 25px 80px rgba(150, 150, 150, .15);
    box-shadow: 10px 25px 80px rgba(150, 150, 150, .15);
    padding: 50px;
    margin-left: 50px;
    @media #{$tablet-device, $large-mobile} {
      margin-left: 0;
    }
    @media #{$large-mobile} {
      padding: 30px;
    }
  }
  &-title {
    border-bottom: 2px solid #e9e9e9;
    margin-bottom: 50px;
    max-width: 210px;
    padding-bottom: 9px;
    position: relative;
    &:after {
      background-color: $primary;
      bottom: -2px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 100px;
    }
  }
  .btn-submit {
    background-color: #1f2226;
    border: none;
    border-radius: 0;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    padding: 21px 10px;
    text-transform: uppercase;
    width: 100%;
    &:hover {
      background-color: $primary;
    }
  }
}

.form-input-item {
  margin-bottom: 15px;
  position: relative;
  &:focus, &:hover {
    .icon {
      color: $primary;
    }
  }
  .icon {
    color: #d4d4d4;
    font-size: 18px;
    left: 24px;
    position: absolute;
    top: 50%;
    transition: $transition-base;
    @include translate(0, -50%);
  }
  .form-control {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    color: #1f2226;
    height: 50px;
    padding: 0 24px 3px;
    @media #{$large-mobile} {
      padding: 2px 15px 3px;
    }
    @include placeholder {
      color: #757575;
      font-size: 16px;
      @media #{$large-mobile} {
        font-size: 14px;
      }
    }
    &:active, &:focus {
      border-color: $secondary;
    }
  }
  textarea {
    &.form-control {
      min-height: 118px;
      padding: 21px 10px 0 31px;
    }
  }
}

.btn-submit {
  padding: 0 25px;
  .icon {
    margin-left: 9px;
  }
}

.map-area {
  iframe {
    width: 100%;
    height: 500px;
    border-radius: 0;
    @media #{$desktop-device, $tablet-device} {
      height: 450px;
    }
    @media #{$large-mobile} {
      height: 360px;
    }
    @media #{$small-mobile} {
      height: 260px;
    }
  }
}

.newsletter {
  &-form {
    overflow: hidden;
    position: relative;
    .form-control {
      background-color: transparent;
      border: 1px solid $secondary;
      border-radius: 0;
      box-shadow: none;
      color: $secondary;
      font-size: 16px;
      font-weight: $font-weight-medium;
      height: 50px;
      width: 100%;
      padding: 1px 125px 5px 15px;
      @include placeholder {
        color: $secondary;
      }
    }
    .btn-submit {
      background-color: $secondary;
      border: none;
      color: $white;
      display: inline-block;
      font-size: 16px;
      height: 50px;
      line-height: 44px;
      margin: 0;
      padding: 3px 7px;
      position: absolute;
      right: 0;
      top: 0;
      width: 110px;
      &:hover {
        background-color: darken($secondary, 3%);
      }
    }
  }
  &-two {
    &-form {
      max-width: 550px;
      margin: 0 auto 40px;
      overflow: hidden;
      position: relative;
      .form-control {
        background-color: transparent;
        border: 1px solid #333333;
        border-radius: 50px;
        box-shadow: none;
        color: $secondary;
        font-size: 18px;
        font-weight: $font-weight-medium;
        height: 60px;
        width: 100%;
        padding: 0 155px 4px 30px;
        @include placeholder {
          color: $secondary;
        }
        @media #{$large-mobile} {
          font-size: 14px;
          height: 45px;
          padding: 0 125px 4px 20px;
        }
      }
      .btn-submit {
        background-color: #fc6539;
        border: none;
        border-radius: 0 50px 50px 0;
        color: $white;
        display: inline-block;
        font-size: 18px;
        height: 60px;
        line-height: 54px;
        margin: 0;
        padding: 3px 7px;
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        @media #{$large-mobile} {
          font-size: 14px;
          height: 45px;
          line-height: 42px;
          padding: 0 7px 3px;
          width: 120px;
        }
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}

// Error Style Css
.error-content {
  padding: 175px 0 200px;
  @media #{$desktop-device} {
    padding: 151px 0 160px;
  }
  @media #{$tablet-device, $large-mobile} {
    padding: 142px 0 150px;
  }
  @media #{$small-mobile} {
    padding: 112px 0 120px;
  }
  h1 {
    font-weight: 400;
    font-size: 42px;
    margin: 0;
    @media #{$tablet-device, $large-mobile} {
      font-size: 36px;
    }
    @media #{$large-mobile} {
      font-size: 28px;
    }
    @media #{$small-mobile} {
      font-size: 22px;
    }
  }
  p {
    line-height: 35px;
    width: 90%;
    margin: 20px auto 24px;
    @media #{$tablet-device, $large-mobile} {
      width: 100%;
    }
    a {
      color: $primary;
      font-size: 18px;
      margin-top: 10px;
      &:hover {
        color: $black;
      }
    }
  }
}
        
.error-search {
  margin: 0 auto;
  max-width: 370px;
  position: relative;
  input {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    color: $black;
    font-size: 15px;
    height: 48px;
    padding: 2px 50px 2px 20px;
    width: 100%;
    @include placeholder {
      color: #495057;
    }
    &:focus {
      border-color: $headings-color;
    }
  }
  button {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    right: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    img {
      opacity: 0.7;
      position: relative;
      top: -3px;
      @include transition(all .3s ease-in-out);
    }
    &:hover {
      i {
        color: $primary;
      }
    }
  }
}