/*----------------------------------------*/
/*  Testimonial CSS
/*----------------------------------------*/

.testimonial {
  &-item {
  }
  &-content {
    margin: 0 auto;
    max-width: 765px;
    position: relative;
    text-align: center;
    .client {
      &-thumb {
        img {
          border-radius: 50%;
        }
      }
      &-name {
        color: #1f2226;
        font-size: 14px;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        line-height: 1.6;
        text-transform: uppercase;
      }
    }
    p {
      color: #333333;
      font-size: 16px;
      line-height: 2;
      margin: 30px 0 28px;
      @media #{$large-mobile} {
        font-size: 15px;
      }
      @media #{$small-mobile} {
        font-size: 14px;
      }
    }
  }
}