/*----------------------------------------*/
/*  Product Single CSS
/*----------------------------------------*/

/* Single Product Image */
.single-product-image {
    position: relative;

    display: flex;
    flex-direction: column;

    gap: 10px;
    &-item {
        position: relative;

        border: 1px solid lighten(#E5E5E5, 5);
    }
}
/* Single Product Badge */
.single-product-badge {
    &-left,
    &-right {
        position: absolute;
        z-index: 2;
        top: 20px;

        display: flex;
        flex-direction: column;

        gap: 5px;
        @media #{$extra-small-mobile} {
            top: 10px;
        }
    }
    &-left {
        left: 20px;
        @media #{$extra-small-mobile} {
            left: 10px;
        }
    }
    &-right {
        right: 20px;
        @media #{$extra-small-mobile} {
            right: 10px;
        }
    }
    &-new,
    &-sale {
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;

        display: block;

        min-width: 60px;
        padding: 5px 15px;

        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
        border-radius: 50px;
        background-color: #1F2226;
        @media #{$tablet-device, $large-mobile} {
            font-size: 10px;
            padding: 5px 10px;
        }
    }
    &-new {
        background-color: $primary;
    }
}
/* Single Product Image Slider */
.product-image-slider,
.product-image-slider-vertical,
.quickview-product-image-slider {
    width: 100%;

    border: 1px solid lighten(#E5E5E5, 5);
}
/* Single Product Thumbnail Carousel */
.product-thumb-carousel,
.product-thumb-carousel-vertical,
.quickview-product-thumb-carousel {
    width: 100%;
    padding-bottom: 2px;
    & .swiper-slide {
        border: 1px solid #f1f1f1;
        &-thumb-active {
            border-color: $primary;
        }
        &:hover {
          cursor: pointer;
        }
    }
    & .swiper-button {
      &-prev, &-next {
        background-color: transparent;
        border: 1px solid #e1e2e2;
        border-radius: 50%;
        color: #1f2226;
        font-size: 14px;
        height: 30px;
        left: 30px;
        line-height: 30px;
        opacity: 1;
        text-align: center;
        top: calc(50% + 20px);
        visibility: visible;
        width: 30px;
        transition: $transition-base;
        z-index: 9;
        @include translate(0, -50%);
        @media #{$desktop-device, $tablet-device} {
            left: 10px;
        }
        @media #{$large-mobile} {
            left: 7px;
        }
        &:hover {
          background-color: $primary;
          border-color: $primary;
          color: $white;
        }
        &:before {
          content: "\e605";
          font-family: 'simple-line-icons';
          font-size: 14px;
        }
        &:after {
          display: none;
        }
      }
      &-next {
        left: auto;
        right: 30px;
        @media #{$desktop-device, $tablet-device} {
            right: 10px;
        }
        @media #{$large-mobile} {
            right: 7px;
        }
        &:before {
          content: "\e606";
        }
      }
    }
}
.product-thumb-carousel-vertical {
    flex: 1 0 100px;
    height: 488px;
    padding: 0 0 2px 0;
    @media #{$large-mobile} {
        flex: 1 0 90px;
        height: 438px;
    }
    @media #{$small-mobile} {
        flex: 1 0 80px;
        height: 395px;
    }
    @media #{$extra-small-mobile} {
        flex: 1 0 60px;
        height: 305px;
    }
    & .swiper-slide {
        border: 1px solid #f1f1f1;
        img {
          border-bottom: 1px solid #f1f1f1;
        }
        &-thumb-active {
            border-color: $primary;
            img {
              border-bottom-color: $primary;
            }
        }
        &:hover {
          cursor: pointer;
        }
    }
    & .swiper-button-prev,
    & .swiper-button-next {
        left: 50%;
        margin: 0;
        transform: translateY(0) translateX(-50%);
        border-radius: 50%;
        &::after {
            transform: rotate(90deg);
        }
    }
    & .swiper-button-prev {
        top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    & .swiper-button-next {
        top: auto;
        right: auto;
        bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

/* Single Product Content */
.single-product {
    // Title
    &-title {
        font-weight: 500;
        margin-bottom: 15px;
        @media #{$tablet-device,
        $small-mobile} {
            font-size: 20px;
        }
    }
    // Price
    &-price {
        font-size: 24px;
        font-weight: 700;
        line-height: 1;

        display: flex;
        align-items: center;

        margin-bottom: 20px;

        color: $primary;

        gap: 20px;
        & del {
            font-size: 18px;
            font-weight: 400;
            color: #4a4a4a;
            text-decoration-color: $primary;
        }
    }
    // Meta
    &-meta {
        margin-bottom: 20px;
        padding: 0;

        list-style: none;
        & li {
            font-size: 14px;
            line-height: 1.4285;

            display: flex;

            gap: 10px;
            & + li {
                margin-top: 10px;
            }
            & span {
                &.label {
                    flex: 1 0 80px;

                    max-width: 80px;
                }
                &.value {
                    display: flex;
                    flex-wrap: wrap;

                    gap: 7px;
                    &.links {
                        & a {
                            &:not(:last-child) {
                                &::after {
                                    content: ",";
                                }
                            }
                        }
                    }
                    &.social {
                        & a {
                            line-height: 1;

                            display: flex;
                            & img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    // Text
    &-text {
        margin-bottom: 30px;
        & p {
            font-size: 14px;
            line-height: 28px;
        }
    }
    // Variations
    &-variations {
        margin-bottom: 30px;
        padding: 0;
        list-style: none;
        & li {
            font-size: 14px;

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            gap: 10px;
            & + li {
                margin-top: 21px;
            }
            & span {
                &.label {
                    flex: 1 0 80px;

                    max-width: 80px;
                }
                &.value {
                    flex: 1 0;
                    & > [class*="single-product-variation-"] {
                        & input {
                            position: absolute;
                            top: 0;
                            left: 0;

                            visibility: hidden;

                            width: 0;
                            height: 0;
                            margin: 0;

                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
    // Additional Information
    &-additional-information {
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 30px;

        gap: 30px;
        & .single-product-info-btn {
            font-size: 14px;
            line-height: 1;

            display: flex;
            align-items: center;

            padding: 5px 0;

            border: none;
            background-color: transparent;

            gap: 8px;
            &:hover {
                color: $primary;
            }
        }
    }
    // Actions
    &-actions {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        gap: 10px;
        &-item {
            display: flex;
            button {
              box-shadow: none;
            }
            .btn-cart {
              background-color: #1f2226;
              border-color: #1f2226;
              border-radius: 0;
              box-shadow: 10px 25px 80px rgba(150, 150, 150, .15);
              font-size: 13px;
              font-weight: 700;
              margin-right: 8px;
              padding: 22px 38px;
              @media #{$desktop-device, $tablet-device, $large-mobile} {
                 padding: 17px 15px 18px;
              }
              &:hover {
                background-color: $primary;
                border-color: $primary;
                color: $white;
              }
            }
            .btn-icon {
              background-color: transparent;
              border: none;
              border-radius: 0;
              color: $secondary;
              font-size: 18px;
              padding: 8px;
              &:hover {
                color: $primary;
              }
            }
        }
    }
    // Buy Now Button
    &-buy-now {
        margin-bottom: 30px;
        & .btn-buy-now {
            background-color: #1f2226;
            border-color: #1f2226;
            border-radius: 0;
            box-shadow: none;
            color: $white;
            font-size: 16px;
            padding: 22px 38px;
            width: 100%;
            max-width: 340px;
            @media #{$desktop-device, $tablet-device, $large-mobile} {
                padding: 17px 18px 20px;
            }
            &:hover {
              background-color: $primary;
              border-color: $primary;
              color: $white;
            }
        }
    }
    // Safe Payment
    &-safe-payment {
        & p {
            font-size: 14px;

            margin-bottom: 5px;
        }
        & img {
            max-height: 24px;
        }
    }
}

/* Product Variation Size */
.single-product-variation-size {
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
    }
    &-item {
        display: flex;
        position: relative;
        & input {
          appearance: none;
            &:checked {
                & ~ label {
                    color: $white;
                    background-color: $primary;
                }
            }
        }
        & label {
            line-height: 1;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 24px;
            height: 24px;

            cursor: pointer;
            transition: $transition-base;
            text-transform: uppercase;

            background-color: darken($light, 3);
        }
    }
}
/* Product Variation Color */
.single-product-variation-color {
    &-wrap {
        display: flex;
        flex-wrap: wrap;

        gap: 10px;
    }
    &-item {
        display: flex;
        position: relative;
        & input {
          appearance: none;
            &:checked {
                & ~ label {
                    background-image: url(../images/icons/check.png);
                }
            }
        }
        & label {
            line-height: 1;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 30px;
            height: 30px;

            cursor: pointer;
            transition: $transition-base;
            text-indent: -99999px;
            text-transform: uppercase;

            border-radius: 50%;
            background-color: darken($light, 3);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 16px;
        }
    }
}

/* Product Tab Nav */
.product-tab-nav {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;

    gap: 50px;
    & button {
        font-size: 14px;
        font-weight: 500;
        line-height: 1;

        padding: 5px;

        text-transform: uppercase;

        border: none;
        background-color: transparent;
        &:hover,
        &.active {
            color: $primary;
        }
    }
}

/* Product Deal Countdown */
.product-deal-countdown {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
    &-inner {
        position: relative;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;
        max-width: 770px;
        padding: 15px 30px 20px;

        gap: 25px;
        &::before,
        &::after {
            position: absolute;
            z-index: -1;
            top: -7px;
            right: -7px;
            bottom: -7px;
            left: -7px;

            content: "";

            box-shadow: 0 10px 30px 0 rgba($black, 0.05);
        }
        &::before {
            bottom: 0;
        }
        &::after {
            top: 0;
            right: 0;
            left: 0;
        }
    }
    & .countdown-item {
        display: flex;

        gap: 5px;
        & .number {
            font-size: 36px;
            line-height: 1;
        }
        & .label {
            font-size: 18px;
            line-height: 1;

            align-self: flex-end;
        }
    }
}

/* Product Quantity */
.product-quantity-count {
    display: inline-flex;

    margin: 0;

    border: 1px solid #E5E5E5;
    & .product-quantity-box {
        font-size: 14px;
        line-height: 1;

        width: 30px;

        text-align: center;

        border: none;
        background-color: transparent;
    }
    & .qty-btn {
        font-size: 20px;
        line-height: 1;

        width: 30px;
        padding: 10px;

        text-align: center;

        border: none;
        background-color: transparent;
        &::hover {
            color: $primary;
        }
    }
}


/* Single Product Description Area */
.single-product-description-area {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 35px 30px;
    border: 1px solid #E5E5E5;
    @media #{$large-mobile} {
        margin-top: 60px;
    }
    @media #{$small-mobile} {
        padding: 20px;
    }
    &-nav {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        gap: 30px;
        @media #{$tablet-device} {
            gap: 25px;
        }
        @media #{$large-mobile} {
            gap: 20px;
        }
        @media #{$small-mobile} {
            gap: 15px;
        }
        & button {
            font-size: 18px;
            font-weight: 500;
            line-height: 1;
            position: relative;
            padding: 0;
            padding-bottom: 11px;
            border: none;
            background-color: transparent;
            @media #{$tablet-device,
            $large-mobile} {
                font-size: 16px;
            }
            @media #{$small-mobile} {
                font-size: 14px;
                padding-bottom: 5px;
            }
            &::before {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                content: "";
                transition: $transition-base;
                background-color: $primary;
            }
            &.active,
            &:hover {
                &::before {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
    // Block Title
    & .block-title-2 {
        padding-bottom: 0;
        border-bottom: none;
    }
}
/* Description */
.single-product-description {
    & p {
        font-size: 14px;
        line-height: 26px;
    }
}

/* Review & Comment */
.review,
.comment {
    // List
    &-list {
        max-width: 770px;
        margin-bottom: 40px;
        padding: 0;
        list-style: none;
    }
    // Child
    &-child {
        margin: 0;
        padding-left: 90px;
        list-style: none;
        @media #{$large-mobile} {
            padding-left: 60px;
        }
        @media #{$small-mobile} {
            padding-left: 30px;
        }
        @media #{$extra-small-mobile} {
            padding-left: 10px;
        }
    }
    // Item
    &-item {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media #{$extra-small-mobile} {
            flex-direction: column;
        }
        &:not(:last-child) {
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #E5E5E5;
        }
    }
    // Thumbnail
    &-thumb {
        overflow: hidden;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #F1F2F3;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // Content
    &-content {
        flex: 1 0;
        & p {
            margin: 0;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    // Rating
    &-rating {
        display: flex;
        margin-bottom: 10px;
        img {
            margin-right: 2px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-bg,
        &-active {
            display: flex;
            width: 70px;
            height: 14px;
            background-image: url(../images/products/rating-bg.svg);
            background-repeat: repeat-x;
        }
        &-active {
            background-image: url(../images/products/rating-active.svg);
        }
    }
    // Meta
    &-meta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        gap: 10px;
    }
    // Name
    &-name {
        font-size: 18px;
        line-height: 1;
        margin: 0;
        @media #{$tablet-device, $large-mobile} {
            font-size: 15px;
        }
    }
    // Date
    &-date {
        font-size: 14px;
        line-height: 1;
        display: flex;
        gap: 10px;
        &::before {
            content: "/";
        }
    }
    // Reply
    &-reply {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        @media #{$tablet-device, $large-mobile} {
            font-size: 13px;
        }
    }
}

/* Review & Comment Form */
.review,
.comment {    
  &-form {
    max-width: 770px;
    label {
        font-size: 14px;
        line-height: 1.25;
        display: block;
        margin-bottom: 10px;
    }
    input.form-field:not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=range]) {
        color: $secondary;
        font-size: 14px;
        width: 100%;
        height: 54px;
        padding: 10px 24px;
        border: 1px solid #E5E5E5;
        background-color: #fff;
    }
    input.form-field:not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=range]):focus {
        border-color: $secondary;
    }
    textarea.form-field {
        font-size: 14px;
        width: 100%;
        height: 140px;
        padding: 20px 24px;
        border: 1px solid #E5E5E5;
        background-color: #fff;
        @media #{$large-mobile} {
            height: 110px;
        }
        &:focus {
          border-color: $secondary;
        }
    }
    .nice-select {
      &.form-field {
        border-radius: 0;
        height: 52px;
        line-height: 52px;
        width: 100%;
      }
    }
    .btn.btn-submit {
      background-color: #1f2226;
      border-color: #1f2226;
      border-radius: 0;
      color: $white;
      padding: 20px 40px;
      @media #{$large-mobile} {
        padding: 14px 35px 16px;
      }
      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }
}

.comment-form {
    max-width: none;
}