/*----------------------------------------*/
/*  Template Classes CSS
/*----------------------------------------*/

.bg-img {
  background: no-repeat center center;
  background-size: cover;
}

.wrapper {
  overflow-x: hidden;
}

.section-space {
  padding-bottom: 100px;
  padding-top: 100px;
  @media #{$desktop-device} {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media #{$tablet-device, $large-mobile} {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-top-space {
  padding-top: 100px;
  @media #{$desktop-device} {
    padding-top: 90px;
  }
  @media #{$tablet-device, $large-mobile} {
    padding-top: 80px;
  }
}

.section-bottom-space {
  padding-bottom: 100px;
  @media #{$desktop-device} {
    padding-bottom: 90px;
  }
  @media #{$tablet-device, $large-mobile} {
    padding-bottom: 80px;
  }
}

.section-two-space {
  padding-bottom: 80px;
  padding-top: 80px;
}

.section-two-top-space {
  padding-top: 80px;
}

.section-two-bottom-space {
  padding-bottom: 80px;
}

.section-three-space {
  padding-bottom: 60px;
  padding-top: 60px;
}

.section-three-top-space {
  padding-top: 60px;
}

.section-three-bottom-space {
  padding-bottom: 60px;
}

.container-padding-1 {
  @media #{$extraBig-device} {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.row-gutter-20 {
  margin-right: -10px;
  margin-left: -10px;
  .col,
  [class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn {
  background-color: $primary;
  border: 1px solid $primary;
  box-shadow: none;
  border-radius: 50px;
  color: $white;
  display: inline-block;
  font-size: 16px;
  font-weight: $font-weight-normal;
  line-height: 1;
  padding: 15px 25px;
  text-align: center;
  transition: $transition-base;
  @media #{$tablet-device, $large-mobile} {
    font-size: 14px;
    padding: 13px 20px;
  }
  @media #{$extra-small-mobile} {
    padding: 13px 17px;
  }
  &:hover, &:focus, &:active {
    background-color: darken($primary, 7%);
    border-color: darken($primary, 7%);
    color: $white;
    .icon {
      color: $white;
    }
  }
  &:focus {
    box-shadow: none;
  }
  .icon {
    color: $white;
    font-size: 16px;
    margin-left: 18px;
    position: relative;
    top: 2px;
    transition: $transition-base;
    @media #{$tablet-device, $large-mobile} {
      font-size: 14px;
      margin-left: 6px;
      top: 0;
    }
    @media #{$extra-small-mobile} {
      margin-left: 3px;
    }
  }
  &.btn-white {
    background-color: $white;
    border-color: $white;
    color: #080806;
    .icon {
      color: #080806;
    }
    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
      .icon {
        color: $white;
      }
    }
  }
  &.btn-hover-white {
    &:hover {
      background-color: $white;
      border-color: $white;
      color: #080806;
      .icon {
        color: #080806;
      }
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $primary;
    .icon {
      color: $primary;
    }
    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
      .icon {
        color: $white;
      }
    }
  }
  &.btn-border {
    background-color: transparent;
    border-color: $black;
    color: #080806;
    .icon {
      color: #080806;
    }
    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
      .icon {
        color: $white;
      }
    }
  }
  &.btn-gray-border {
    background-color: transparent;
    border: 1px solid #eee;
    color: $secondary;
    padding: 15px 28px;
    border-radius: 50px;
    font-size: 13px;
    text-transform: capitalize;
    &:hover {
      background-color: $primary;
      border: 1px solid $primary;
      color: $white;
    }
  }
  &-link {
    color: $white;
    font-size: 14px;
    font-weight: $font-weight-medium;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition-base;
    .icon {
      font-size: 12px;
      margin-left: 10px;
    }
    &:hover {
      color: $primary;
    }
  }
}

.btn-play {
  &-wrp {
    align-items: center;
    color: $primary;
    display: flex;
    font-family: $poppins;
    font-size: 20px;
    @media #{$tablet-device, $large-mobile} {
      font-size: 14px;
    }
    @media #{$extra-small-mobile} {
      font-size: 13px;
    }
  }

  box-shadow: 0 4px 30px rgba(235, 111, 37, .2);
  color: $primary;
  border: 1px solid $primary;
  border-radius: 50%;
  height: 65px;
  line-height: 65px;
  margin-right: 25px;
  position: relative;
  text-align: center;
  width: 65px;
  @media #{$tablet-device, $large-mobile} {
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    width: 50px;
  }
  @media #{$extra-small-mobile} {
    margin-right: 7px;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 65px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center center;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 $primary;
    -moz-box-shadow: 0 0 0 0 $primary;
    -ms-box-shadow: 0 0 0 0 $primary;
    -o-box-shadow: 0 0 0 0 $primary;
    box-shadow: 0 0 0 0 $primary;
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
    @media #{$tablet-device, $large-mobile} {
      height: 50px;
      width: 50px;
    }
  }

  &:before {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -o-animation-delay: .9s;
    animation-delay: .9s;
  }

  &:after {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
  }
}

.btn-video-play {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 50%;
  box-shadow: none;
  color: $primary;
  font-size: 20px;
  height: 90px;
  left: 50%;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 90px;
  z-index: 1;
  @include translate(-50%, -50%);
  @include transition(all .3s ease-in-out);
  @media #{$tablet-device, $large-mobile} {
    font-size: 16px;
    height: 50px;
    line-height: 48px;
    width: 50px;
  }
  &:hover {
    background-color: transparent;
    border-color: $primary;
    transform: translate(-50%, -50%) scale(1.15);
    -webkit-transform: translate(-50%, -50%) scale(1.15);
    -moz-transform: translate(-50%, -50%) scale(1.15);
    -ms-transform: translate(-50%, -50%) scale(1.15);
    -o-transform: translate(-50%, -50%) scale(1.15);
  }

  &:before, &:after {
    display: none;
  }
}

.accordion {
  &-one {
    position: relative;
    top: -3px;
    .accordion-item {
      background-color: $white;
      border: 1px solid rgba($black, .125);
      border-radius: .25rem;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &:first-of-type {
        border-radius: .25rem;
      }
      &:not(:first-of-type) {
        border: 1px solid rgba($black, .125);
      }
      .accordion-header {
        border-bottom: 1px solid rgba(0,0,0,.125);
      }
      .accordion-button {
        background-color: rgba($black, .03);
        box-shadow: none;
        color: $secondary;
        font-size: 17px;
        font-weight: $font-weight-bold;
        padding: 13px 28px;
        @media #{$small-mobile} {
          font-size: 15px;
          padding: 13px 15px;
        }
        &:after {
          background: none;
          color: $secondary;
          content: "-";
          font-size: 30px;
          font-weight: $font-weight-bold;
          position: absolute;
          right: 11px;
          top: calc(50% - 22px);
          transform: none;
        }
        &.collapsed {
          &:after {
            background: none;
            content: "+";
            font-size: 22px;
            right: 13px;
            top: calc(50% - 14px);
            transform: none;
          }
        }
        &:not(.collapsed) {
          background-color: rgba($black, .03);
        }
      }
      .accordion-collapse {}
      .accordion-body {
        padding: 20px 28px;
        @media #{$small-mobile} {
          padding: 20px 15px;
        }
      }
      .accordion-body-desc {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

.form-check {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  .form-check-input {
    background-color: transparent;
    border: 2px solid #506781;
    box-shadow: none;
    font-size: 14px;
    height: 17px;
    margin-right: 8px;
    position: relative;
    top: -2px;
    width: 17px;
    &:checked {
      background-color: $primary;
      border-color: $primary;
      box-shadow: none;
      color: $white;
    }
    &:focus {
      box-shadow: none;
    }
    & + .form-check-label {
      color: $secondary;
      cursor: pointer;
      font-size: 15px;
      width: 100%;
      span {
        float: right;
      }
    }
  }
}

.offcanvas-backdrop,
.modal-backdrop {
  background-color: rgba(43, 43, 43, 0.92);
  cursor: url('../images/icons/cancel-white.png'), auto;
  &.show {
    opacity: 1;
  }
}

.fw-semi-bold {
  font-weight: $font-weight-semi-bold !important;
}

.text-hover-primary {
  &:hover {
    color: $primary !important;
    i {
      color: $primary !important;
    }
  }
}

.text-hover-headings-color {
  &:hover {
    color: $headings-color !important;
    i {
      color: $headings-color !important;
    }
  }
}

.bg-theme3 {
  background-color: #12a05c !important;
}

.bg-theme4 {
  background-color: #ff9900 !important;
}

.bg-gray-light {
  background-color: #f0f2f5 !important;
}

.row-align {
  .col-align-left {
    width: 30%;
  }
  .col-align-right {
    width: 70%;
  }
}

input {
  &:focus {
    @include placeholder {
      color: transparent;
      opacity: 0;
    }
  }
}

.max-w-auto {
  max-width: none !important;
}

.rounded-10 {
  border-radius: 10px !important;
}